<div class="w-full p-4 border-b-4">
  <h1 class="font-bold text-4xl">Admin lounge</h1>
  <p>Welcome to Ticketee's Admin Lounge. Please enjoy your stay.</p>
  <div>
    <h5>ADMIN LINKS</h5>
    <ul>
      <li>Links will go here. Soon.</li>
    </ul>
  </div>
</div>
