<% title @project.name, 'Projects' %>

<p class="my-5">
  <strong class="block font-medium mb-1">Name:</strong>
  <span class="font-bold"><%= @project.name %></span>
</p>

<p class="my-5">
  <strong class="block font-medium mb-1">Description:</strong>
  <%= @project.description %>
</p>
