<div class="ticket">
  <%= render @user %>

  <%= link_to 'Edit User', edit_admin_user_path(@user),
              class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%#= link_to 'Delete User', [@user], method: :delete, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure you want to delete this user?' }, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <%#= link_to 'Back to User', [:admin, @user], class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <%#= link_to 'Back to Admin', admin_root_path, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
</div>